@mixin el-input__custom {
  font-family: PingFangRegular;
  border-radius: 12px;
  font-size: 16px;

  :deep(.el-input__wrapper) {
    border-radius: 12px;
    border-color: #e1eaf5;
    padding-left: 16px;
  }
}

.login-container {
  width: 100%;
  min-height: 100%;
  background: url("../../../../assets/images/bg_normal.png") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  overflow: hidden;
}

.el-image {
  margin: 158px 0 32px 0;
}

.el-container {
  width: 720px;
  max-height: 444px;
  background-color: #ffffff;
  border-radius: 20px;

  .el-header {
    font-family: PingFangMedium;
    font-size: 24px;
    color: #08090a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ebedf0;
  }

  .el-main {
    height: 356px;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 48px;
  }
}

.el-input {
  width: 100%;
  height: 56px;
  @include el-input__custom();
}

.login-qrcodeContent {
  width: 160px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-items: center;
  padding-right: 32px;

  > .el-button {
    width: 96px;
    height: 40px;
    font-family: PingFangMedium;
    font-size: 16px;
    color: #1a7dff;
    border-radius: 8px;
    border: 1px solid #1a7dff;
  }

  &::after {
    content: "";
    width: 1px;
    height: 240px;
    background-color: #ebedf0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -56%);
  }
}

.login-scanTips {
  margin-bottom: 18px;
  margin-top: 32px;
  > span {
    font-family: PingFangMedium;
    font-size: 18px;
    color: #08090a;
  }
}

.scan-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.login-qrcodePrint {
  width: 160px;
  height: 160px;
}

.login-qrcodeWarn {
  height: 22px;
  font-family: PingFangMedium;
  font-size: 14px;
  color: #525b66;
  line-height: 22px;
  margin-bottom: 18px;

  > span {
    color: #1a7dff;
  }
}

.login-formContent {
  width: calc(100% - 192px);
  height: 100%;
  flex-flow: column nowrap;
  align-items: start;
  margin-left: 32px;
}

.login-formTitle {
  width: 96px;
  height: 38px;
  font-family: PingFangMedium;
  color: #1a7dff;
  font-size: 16px;
  border-bottom: 2px solid #1a7dff;
  text-align: center;
  line-height: 38px;
  margin: 32px 0;
}

.login-verifyContent {
  width: 100%;
  height: 56px;
  margin-top: 20px;
  margin-bottom: 32px;

  > .el-input {
    width: 268px;
    height: 100%;
    @include el-input__custom();
  }

  > .el-button {
    width: 120px;
    height: 100%;
    font-family: PingFangMedium;
    color: #08090a;
    border-radius: 12px;
  }
}

.login-button {
  width: 100%;
  height: 56px;
  font-family: PingFangMedium;
  color: #ffffff;
  font-size: 18px;
  border-radius: 12px;
}
